.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2.4em;

    h1 {
        font-weight: bold;
        font-size: 4.4rem;
        line-height: 200%;
        border-bottom: 1px solid #000;
        z-index: 2;
        position: relative;
    }

    h1:before{
        position: absolute;
        content: "N";
        color: rgba(0, 0, 0, 0.05);
        font-size: 30rem;
        z-index: -1;
        transform: translate3d(-50%, -40%, 0);
    }

    h2 {
        font-weight: bold;
        font-size: 2.2rem;
    }

    main {
        margin-top: 5em;
    }
}

.article__container {
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.article__container__item {
   padding: 1em;
}

@media screen and (min-width: 600px) {
    .article__container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3em;
    }

    .article {
        flex: 1;
    }

    .article:nth-of-type(1){
        flex-basis: 100%;
    }
}

@media screen and (min-width: 900px) {
    .article:nth-of-type(1){
        flex-basis: 0;
    }
}