html{
  font-size: 62.5%;
}

*{
  box-sizing: border-box;
}

body{
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  color: #000;
  background-color: #D7DED3;
  margin: 0;
}

h1{
  font-size: 4rem;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: #000;
  margin: 0;
}

a{
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 2rem;
  color: #406A29;
}