.wraper {
    display: flex;
    padding: 1em 2em;
    margin: 5em 10em;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

.col_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0.8;
}

.col_left {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 1em;
}

.item {
    width: 30%;
    aspect-ratio: 1/1;
    border-radius: 8px;

    img {
        width: 100%;
        height: 100%;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 8px;
    }
}

.item:nth-of-type(3){
    background-color: #D0E1BB;
}


.item:nth-of-type(5){
    background-color: #BBC8E1;
}