html {
  font-size: 62.5%;
}

body {
  background-color: #FCF5EB;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: #000;
}

h1, h2, h3, h4, h5 {
  font-family: 'Playfair Display', serif;
}