.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7000FF;
    padding: 1.4em 3.4em;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 700;
}